.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.animation-container {
    width: 100%;
    height: 100%;
    max-width: 80vw;
    max-height: 80vh;
}