.table-filters-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  flex-direction: column;
}

.form-container,
.actions-container,
.package-type-container {
  display: flex;
  gap: 10px;
}

.package-type {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 5px;
}